.header {
    background: #26292E;
    color: #DE5E60;
}

.container {
    /*background: #26292E;*/
    color: #DE5E60;
}

.listA {
    width:25%
}

.listB{
    width: 70%
}

my_img{
    margin: 10px;
}

.curPic{
    align:center;
    margin: 0 auto;
    width: 50%;
    /*border: 3px solid #73AD21;*/
    padding: 10px;
}


.bidlist {
    background: #26292E;
    color: #DE5E60;
}