
block admin
    script(src="/javascripts/admin.js")
    div.w3-container.w3-black.w3-opacity
        p.w3-center.container Уголок Администратора

    div.w3-container.w3-white.w3-opacity-min.w3-margin.listA.w3-left
        div.w3-margin
            p Bidders
            div.w3-opacity-off#bidders

    div.w3-container.w3-white.w3-opacity.w3-margin.w3-right.listB
        div.w3-margin
            p pictures
            div#pictures
