extends layout

block Head
  div.w3-container.header
    h1.w3-center Аукцион! b
    div.w3-bar
      button#admin.w3-bar-item.w3-button Страница администратора
      button#member.w3-bar-item.w3-button Страница участника
      button#summary.w3-bar-item.w3-button Итоги
  div#container



