block summary
    script(src="/javascripts/summary.js")
    div.w3-container.w3-black.w3-opacity
        p.w3-center.container Проданные картины
    div.w3-container.w3-white.w3-opacity.w3-margin Проданные картины
        div.w3-container.w3-white.w3-margin.w3-padding#soldPic